<section>
<h1>Featured Posts</h1>
<ul id="featured_posts">
        <li class="post">
        <a href="/blog/2017/12/31/minikube-in-corporate-vpn/">Minikube in Corporate VPN</a>
        </li>
    
        <li class="post">
        <a href="/blog/2017/12/30/groovy-hook-script-and-jenkins-configuration-as-code/">Groovy Hook Script and Jenkins Configuration as Code</a>
        </li>
    
        <li class="post">
        <a href="/blog/2017/12/26/class-in-jenkins-shared-library/">Class in Jenkins Shared Library</a>
        </li>
    
        <li class="post">
        <a href="/blog/2017/11/29/jenkins-plugin-development/">Jenkins Plugin Development</a>
        </li>
    
        <li class="post">
        <a href="/blog/2017/10/09/tcp-ping/">TCP Ping</a>
        </li>
    
        <li class="post">
        <a href="/blog/2017/09/23/jacoco-in-maven-project/">Jacoco in Maven Projects</a>
        </li>
    
        <li class="post">
        <a href="/blog/2017/09/15/keep-gruntfile-clean-with-load-grunt-config/">Keep Gruntfile Clean With Load-grunt-config</a>
        </li>
</ul>
</section>